<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<display-name>Index</display-name>
  	<description></description>
  	<servlet-class>servlet.Index</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProdutoList</servlet-name>
  	<display-name>ProdutoList</display-name>
  	<description></description>
  	<servlet-class>servlet.produto.ProdutoList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProdutoNew</servlet-name>
  	<display-name>ProdutoNew</display-name>
  	<description></description>
  	<servlet-class>servlet.produto.ProdutoNew</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProdutoEdit</servlet-name>
  	<display-name>ProdutoEdit</display-name>
  	<description></description>
  	<servlet-class>servlet.produto.ProdutoEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProdutoDelete</servlet-name>
  	<display-name>ProdutoDelete</display-name>
  	<description></description>
  	<servlet-class>servlet.produto.ProdutoDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProdutoSave</servlet-name>
  	<display-name>ProdutoSave</display-name>
  	<description></description>
  	<servlet-class>servlet.produto.ProdutoSave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteNew</servlet-name>
  	<display-name>ClienteNew</display-name>
  	<description></description>
  	<servlet-class>servlet.cliente.ClienteNew</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteSave</servlet-name>
  	<display-name>ClienteSave</display-name>
  	<description></description>
  	<servlet-class>servlet.cliente.ClienteSave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteList</servlet-name>
  	<display-name>ClienteList</display-name>
  	<description></description>
  	<servlet-class>servlet.cliente.ClienteList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteDelete</servlet-name>
  	<display-name>ClienteDelete</display-name>
  	<description></description>
  	<servlet-class>servlet.cliente.ClienteDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteEdit</servlet-name>
  	<display-name>ClienteEdit</display-name>
  	<description></description>
  	<servlet-class>servlet.cliente.ClienteEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoriaNew</servlet-name>
  	<display-name>CategoriaNew</display-name>
  	<description></description>
  	<servlet-class>servlet.categoria.CategoriaNew</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoriaList</servlet-name>
  	<display-name>CategoriaList</display-name>
  	<description></description>
  	<servlet-class>servlet.categoria.CategoriaList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoriaSave</servlet-name>
  	<display-name>CategoriaSave</display-name>
  	<description></description>
  	<servlet-class>servlet.categoria.CategoriaSave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoriaEdit</servlet-name>
  	<display-name>CategoriaEdit</display-name>
  	<description></description>
  	<servlet-class>servlet.categoria.CategoriaEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoriaDelete</servlet-name>
  	<display-name>CategoriaDelete</display-name>
  	<description></description>
  	<servlet-class>servlet.categoria.CategoriaDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntregaDelete</servlet-name>
  	<display-name>EntregaDelete</display-name>
  	<description></description>
  	<servlet-class>servlet.entrega.EntregaDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntregaEdit</servlet-name>
  	<display-name>EntregaEdit</display-name>
  	<description></description>
  	<servlet-class>servlet.entrega.EntregaEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntregaList</servlet-name>
  	<display-name>EntregaList</display-name>
  	<description></description>
  	<servlet-class>servlet.entrega.EntregaList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntregaSave</servlet-name>
  	<display-name>EntregaSave</display-name>
  	<description></description>
  	<servlet-class>servlet.entrega.EntregaSave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntregaNew</servlet-name>
  	<display-name>EntregaNew</display-name>
  	<description></description>
  	<servlet-class>servlet.entrega.EntregaNew</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VendaNew</servlet-name>
  	<display-name>VendaNew</display-name>
  	<description></description>
  	<servlet-class>servlet.venda.VendaNew</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VendaSave</servlet-name>
  	<display-name>VendaSave</display-name>
  	<description></description>
  	<servlet-class>servlet.venda.VendaSave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VendaEdit</servlet-name>
  	<display-name>VendaEdit</display-name>
  	<description></description>
  	<servlet-class>servlet.venda.VendaEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VendaDelete</servlet-name>
  	<display-name>VendaDelete</display-name>
  	<description></description>
  	<servlet-class>servlet.venda.VendaDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VendaList</servlet-name>
  	<display-name>VendaList</display-name>
  	<description></description>
  	<servlet-class>servlet.venda.VendaList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProdutoList</servlet-name>
  	<url-pattern>/ProdutoList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProdutoNew</servlet-name>
  	<url-pattern>/ProdutoNew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProdutoEdit</servlet-name>
  	<url-pattern>/ProdutoEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProdutoDelete</servlet-name>
  	<url-pattern>/ProdutoDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProdutoSave</servlet-name>
  	<url-pattern>/ProdutoSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteNew</servlet-name>
  	<url-pattern>/ClienteNew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteSave</servlet-name>
  	<url-pattern>/ClienteSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteList</servlet-name>
  	<url-pattern>/ClienteList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteDelete</servlet-name>
  	<url-pattern>/ClienteDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteEdit</servlet-name>
  	<url-pattern>/ClienteEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoriaNew</servlet-name>
  	<url-pattern>/CategoriaNew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoriaList</servlet-name>
  	<url-pattern>/CategoriaList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoriaSave</servlet-name>
  	<url-pattern>/CategoriaSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoriaEdit</servlet-name>
  	<url-pattern>/CategoriaEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoriaDelete</servlet-name>
  	<url-pattern>/CategoriaDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntregaDelete</servlet-name>
  	<url-pattern>/EntregaDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntregaEdit</servlet-name>
  	<url-pattern>/EntregaEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntregaList</servlet-name>
  	<url-pattern>/EntregaList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntregaSave</servlet-name>
  	<url-pattern>/EntregaSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntregaNew</servlet-name>
  	<url-pattern>/EntregaNew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VendaNew</servlet-name>
  	<url-pattern>/VendaNew</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VendaSave</servlet-name>
  	<url-pattern>/VendaSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VendaEdit</servlet-name>
  	<url-pattern>/VendaEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VendaDelete</servlet-name>
  	<url-pattern>/VendaDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VendaList</servlet-name>
  	<url-pattern>/VendaList</url-pattern>
  </servlet-mapping>
  
</web-app>
